@font-face {
  font-family: 'Clash';
  src: url('./util/ClashDisplay-Variable.ttf');
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #391463 #f5f5f5;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Clash', sans-serif;
}

.back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border:#090c08 1px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #090c08;
  color: #b0c0bf;
}

.back-to-top:hover{
  background-color: #b0c0bf;
  color: #090c08;
  transition: all 0.5s ease;
}

.back-to-top:active{
  background-color: #391463;
  color: #b0c0bf;
  transition: all 0.5s ease;
}